* {
  padding: 0;
  margin: 0;
}

/* font poppin */
@import url("https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.text-tebal {
  font-weight: bold;
}
.container {
  width: 50dvw;
  /* height: 10dvh; */
  background: #ff000030;
  padding: 20px;
  margin-top: 10px;
}

.text-blue {
  color: #0088cc;
}

.text-judul {
  font-size: 1.2rem;
  font-weight: 700;
}

.deskripsi {
  font-family: "Poppins", sans-serif;
  text-align: justify;
}

.box-model {
  width: 80dvw;
  min-height: 30dvh;
  border: 0.5px solid #8888;
  padding: 30px;
  margin: 40px 0;
}

.content {
  width: 100%;
  height: 100%;
  background-color: #0088cc;
}

.margin-bottom {
  width: 100dvw;
  height: 10dvh;
  /* background-color: #00cc1b; */
}

/* 
karakter display block : 
- menguasai 1 baris parent
- ada elemen baru, akan membuatnya di bawah elemen sebelumnya
*/
.d-block {
  width: 10%;
  padding: 30px;
  background: #0088cc;
  margin: 10px;
  display: block;
}

/* 
karakter display inline.
- membuat elemen di baris yang sama.
- margin yang berlaku hanya margin Y.
- padding semua sumbu berlaku.
- Ukuran hanya mengikuti konten yang ada didalamnya.
 */

.d-inline {
  padding: 20px;
  background: #00cc1b;
  margin: 0 30px;
  display: inline;
}

/* 
Karakter display inline block
- membuat elemen menjadi 1 baris,
- bisa mengatur ukuran dari elemen
- padding dan margin berlaku.
*/

.d-inline-block {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: 20px;
  padding: 20px;
  background: #00cc1b;
  display: inline-block;
  animation: bounce .5s infinite alternate;
}

.none {
  display: none;
}

.hide {
  visibility: hidden;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* flex-direction: column-reverse; */
  /* space-around
  space-evenly
  space-between
   */
}

.card {
  flex: 1 1 200px;
  /* flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 200px; */
  width: 200px;
  height: 100px;
  border: 0.5px solid #777;
  margin: 10px;
  animation: ubahWarna 1s infinite alternate;
}

.d-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.card-grid {
  height: 100px;
  border: 0.5px solid #777;
  transition: 1s;
}

.card-grid:hover{
  background-color: #777770;
  transition: 1.5s;
  cursor: pointer;
  position: relative;
}


/* animation */

@keyframes bounce {
  from{
    transform: translateY(0);
  }to{
    transform: translateY(200px) scaleX(1.5);
    background-color: #0088cc;
  }
}

@keyframes ubahWarna {
  0%{
    background-color: #0088cc;
  }
  10%{
    background-color: #00ccc5;
  }
  25%{
    background-color: #00cc33;
  }
  50%{
    background-color: #229901;
  }
   75%{
    background-color: #8f9901;
  }
  100%{
    background-color: #995201;
  }
}

/* media queries, membaca perangkat yang lagi dibuka untuk menyesuaikan */

@media screen and (max-width: 768px) {
  .d-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-grid{
    background-color: #0088cc;
  }
}



@media screen and (max-width: 425px) {
  .d-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .card-grid{
    background-color: #0088cc;
  }
}
